<h1>Count anything</h1>

<p>This is a simple example of an Angular component that counts by any number</p>

<p aria-live="polite">Current count: <strong id="counter">{{ addCount }}</strong></p>
<button id="increment" class="btn btn-primary" (click)="addCounter()">number adder</button>
<button id="decrement" class="btn btn-primary" (click)="minusCounter()">number subtracter</button>

<p aria-live="polite">Current count: <strong id="counter">{{ currentCount }}</strong></p>

<button id="increment" class="btn btn-primary" (click)="incrementCounter()">Increment</button>
